<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SkillCourse.DataBaseStructure.serialize.SerializeSetting" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SkillCourse.DataBaseStructure.serialize.SerializeSetting" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <SkillCourse.DataBaseStructure.serialize.SerializeSetting>
            <setting name="SerializationPath" serializeAs="String">
                <value>./serializations/</value>
            </setting>
            <setting name="CourseCollectionSerializationPath" serializeAs="String">
                <value>./serializations/collectionCourse</value>
            </setting>
            <setting name="TaskCollectionSerializationPath" serializeAs="String">
                <value>./serializations/collectionTask</value>
            </setting>
            <setting name="AnswerToTaskCollectionSerializationPath" serializeAs="String">
                <value>./serializations/collectionAnswerToTask</value>
            </setting>
            <setting name="CertificateCollectionSerializationPath" serializeAs="String">
                <value>./serializations/collectionCertificate</value>
            </setting>
            <setting name="SubscriptionCollectionSerializationPath" serializeAs="String">
                <value>./serializations/collectionSubscription</value>
            </setting>
            <setting name="UserCollectionSerializationPath" serializeAs="String">
                <value>./serializations/collectionUser</value>
            </setting>
            <setting name="StudentCollectionSerializationPath" serializeAs="String">
                <value>./serializations/collectionStudent</value>
            </setting>
            <setting name="TeatherCollectionSerializationPath" serializeAs="String">
                <value>./serializations/collectionTeather</value>
            </setting>
        </SkillCourse.DataBaseStructure.serialize.SerializeSetting>
    </applicationSettings>
    <userSettings>
        <SkillCourse.DataBaseStructure.serialize.SerializeSetting>
            <setting name="UserImages" serializeAs="String">
                <value>./image/Users</value>
            </setting>
        </SkillCourse.DataBaseStructure.serialize.SerializeSetting>
    </userSettings>
</configuration>